body {
    font-family: Arial, Tahoma, Verdana;
}

table {
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: auto;
    width: auto;
}

tr > :first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #D3D3D3;
    border: 1px solid;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #D3D3D3;
    border: 1px solid;
    z-index: 2;
}

td, th {
    border: 1px solid;
    white-space: nowrap;
    padding: 10px;
}

.important {
    font-weight: bold;
}